.App {
  display:flex;
  justify-content: center;
}
.Page {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
}
h5 {
  width: 90px;
  display: flex;
  justify-content: flex-start;
  margin-right: 20px;
}
.response {
  width: 80%;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
.responseDiv {
  display: flex;
}
button {
  width: '30%';
}
.mb-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
